/*--------------------------------------------------------------
# General Editor Styling
--------------------------------------------------------------*/
.entry-content > * {
  margin: 36px auto;
  max-width: 636px;
  padding-left: 14px;
  padding-right: 14px;
}

.entry-content > .alignwide {
  max-width: 1100px;
}

.entry-content > .alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .entry-content > * {
    padding-left: 0;
    padding-right: 0;
  }
}