/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
//Responsive
$phone: 684px;
$tablet: 768px;
$desktop: 991px;
$desktopXl: 1200px;

//Colors
$c-black: #000;
$c-white: #fff;

//Brand Colors
$c-light-blue: #2b9cd8;
$c-blue: #0272b6;

//Fonts
$font-default: sans-serif;
$font-size: 16px;

//Container Widths
$width-content: 980px;