/*--------------------------------------------------------------
# Shop Layout
--------------------------------------------------------------*/
.woocommerce .site-main {
  margin: 1.5em auto;
  max-width: $width-content;
  padding-left: rem(14px);
  padding-right: rem(14px);
}